@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
}
    #hamburger-nav{
    display: flex;
}
.picture{
    max-width: 60vh;
    max-height: 60vh;
    width: 90%;  
    height: 90%;     
}
}