/*generals*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins",sans-serif;
    overflow-x: hidden;
    padding-top: 17vh;
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85,85,85);
    font-size: clamp(4px, 2.5vw, 16px);
}
h2{
    color: rgb(85,85,85);
    font-size: clamp(8px, 2.5vw, 24px);
}
h1{
    font-size: clamp(16px, 2.5vw, 45px);
}
/*transitions*/

a , .btn{
    transition: all 300ms ease;
}

/*desktop nav*/

nav, .nav-links{
    width: 100%;
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    top:0;
    width: 100%;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    height: 17vh;
}
.nav-links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color: rgb(0,0,0);
    text-decoration: none;
    text-decoration-color: rgb(255, 255, 255);
}
a:hover{
    color: rgb(158, 158, 158);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}
.logo{
    font-size: 2rem;
}
.logo:hover{
    cursor:default;
}
/*hamburger menu*/
#hamburger-nav{
    display: none;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    top:0;
}
.hamburger-menu{
    position:relative;
    display:inline-block;
}
.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor:pointer;
}
.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: rgb(0,0,0);
    transition: all 0.3s ease-in-out;
}
.menu-links{
    position: fixed;
    top:100%;
    right: 0;
    border-bottom-left-radius: 25px; 
    right:0;
    top:0;
    height: 100%;
    box-shadow:20px 20px 20px rgb(85,85,85);
    background-color:  rgb(255, 255, 255);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0,0,0);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}
.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}
.hamburger-icon.open span:nth-child(2){
    opacity:0;
}
.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}
.hamburger-icon span:first-child{
    transform: none;
    opacity:1;
}
/*profile section*/
.flexability{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.picture{
    margin:2vh;
    max-width: 60vh;  
    max-height: 60vh;   
    width: 90%;
    height: 90%;  
    border-radius: 50%; 
    object-fit: cover;  
}
.s-picture{
    max-width: 5vh !important;  
    max-height: 5vh !important;    
    width: 90% !important; 
    height: 90% !important;
    margin:0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    }
.s-picture:hover{
    transform: scale(0.9);
    opacity: 0.7;

}
.icon{
    display:flex;
    flex-wrap: wrap;
}
.center-items{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap:1vh;
    margin: 10px ;
}
.center-items-column{
    flex-direction: column;
    gap:0;
}
.cv-pdf-section{
    border-radius: 25px;
    width: 20vh;  
    height: 5vh;  
    min-width: 50px; 
    display:flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    border:2px solid rgb(85,85,85);
    background-color: rgb(255, 246, 233);
}
.cv-pdf-section:hover{
    background-color: rgb(85,85,85);
    border:2px solid rgb(255, 255, 255);
}
.cv-pdf-section:hover p{
    color: rgb(255, 255, 255);
}
.background-home{
    background-color: rgb(255, 246, 233);
    box-shadow: 5px 10px 10px rgb(85,85,85);
    margin-top: 30px;
    padding: 30px;
}
.background{
    width: 80%;
    border-radius: 25px;
    padding: 10px;
}
/*about me*/
.background-aboutme{
    background-color: rgb(226, 253, 255);
    box-shadow: 5px 10px 10px rgb(85,85,85);
    margin-top: 30px;
    padding: 30px;
}
.s-round-picture{
    border-radius: 25px !important;
}
.Aboutme-p{
    text-align: left;
    margin-top: 2vh;
}
.Aboutme-box{
    min-width: 100px;
    width:20vh;
    border-radius: 25px;
    padding:2vh;
    text-align: left;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    margin-top: 10px;
}
.Aboutme-text{
    max-width:700px;
}
/*experience*/
.background-experience{
    background-color: rgb(221, 255, 235);
    box-shadow: 5px 10px 10px rgb(85,85,85);
    margin-top: 30px;
    padding: 30px;
}
.Experience-section{
    justify-content: space-around !important;
    width: 90%;
}
.Experience-box{
    min-width: 100px;
    width:45vh;
    border-radius: 25px;
    padding:3vh;
    text-align: left;
    border:2px solid rgb(255, 255, 255);
}
#Verified-Icon{
    width :24px;
    height :24px;
}
.Experience-text{
    margin-left: 20px;
}
.right{
    float:right;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    line-height: 25px;
}
/*projects*/
.background-projects{
    background-color: rgb(253, 255, 220);
    box-shadow: 5px 10px 10px rgb(85,85,85);
    margin-top: 30px;
    padding: 30px;
}
.Project-button{
    border-radius: 25px;
    width: 20vh;  
    height: 5vh;  
    min-width: 50px; 
    display:flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    border:2px solid rgb(85,85,85);
    background-color: rgb(253, 255, 220);
}
.Project-button:hover{
    background-color: rgb(85,85,85);
    border:2px solid rgb(255, 255, 255);
}
.Project-button:hover p{
    color: rgb(255, 255, 255);
}
.Project-box{
    min-width: 100px;
    width:45vh;
    border-radius: 25px;
    padding:3vh;
    text-align: left;
    border:2px solid rgb(85,85,85)
}